@model AcadOracle.DomainModel.Models.Disciplina

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Cursoes)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Cursoes, (SelectList)ViewBag.CursoList )
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Nome)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Nome)
    @Html.ValidationMessageFor(model => model.Nome)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Creditos)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Creditos)
    @Html.ValidationMessageFor(model => model.Creditos)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PreCreditos)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PreCreditos)
    @Html.ValidationMessageFor(model => model.PreCreditos)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Semestre)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Semestre)
    @Html.ValidationMessageFor(model => model.Semestre)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Eletiva)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Eletiva)
    @Html.ValidationMessageFor(model => model.Eletiva)
</div>

