@using AcadOracle.WebMVC.Models.Extensions
@model AcadOracle.WebMVC.Models.TurmaHorarioEditModel

<div class="editor-label">
    Turma
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.DiaDaSemana, Model.DiaDaSemana.ToSelectList())
</div>
<div class="editor-field">
    @Html.ListBoxFor(model => model.HorariosIds, ViewBag.HorariosList)
</div>
